<%- include('partials/header.ejs') %>
<blockquote>
    <a href="/download/<%=hostName%>">Télécharger un rapport</a>
    <a href="/compare/<%=hostName%>">Comparer des rapports</a>

    <h2>Site <%=hostName%></h2>
    <h3>Télécharger les rapports (format JSON)</h3>
    <% if(list){ %>
    <ul>
        <% list.forEach(function(file){ %>
        <li><a href="download/<%=hostName%>/<%=file%>"%></a><%= file %></a></li>
        <% }) %>
        <% } %>
    </ul>
</blockquote>
<%- include ('partials/footer.ejs') %>