<%- include('partials/header.ejs') %>
<h2>Tableau de bord pour le site <%=url%></h2>
<a href="/download/<%=hostName%>">Télécharger un rapport</a>
<a href="/compare/<%=hostName%>">Comparer des rapports</a>

<form action="/start_audit" method="post">
    <input type="url" name="url" id="url" value="<%=url%>" style="display:none">
    <button type="submit">Lancer un nouvel audit</button>
</form>
<%- include ('partials/footer.ejs') %>