<%- include('partials/header.ejs') %>

<a href="/download/<%=hostName%>">Télécharger un rapport</a>
<a href="/compare/<%=hostName%>">Comparer des rapports</a>

<h2>Site <%=hostName%></h2>
<h3>Résultats</h3>

<h4><%=results["audits"]["speed-index"]%></h4>

<%- include ('partials/footer.ejs') %>