<%- include('partials/header.ejs') %>
<form action="/menu_audit" method="post">
    <label for="url">URL du site à analyser</label>
    <input type="url" name="url" id="url">
    <button type="submit">Valider</button>
</form>
<%- include ('partials/footer.ejs') %>